body{
    text-align: center; 
    background-color: rgb(195, 240, 245); 
}
    
    h1{
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-size: 50px;
       color: rgb(55, 131, 98);
       text-shadow:rgb(189, 243, 220);
       box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

   }
   
   .btn{
       box-sizing: border-box;
       border: 2px solid #ccc;
       border-radius: 4px;
       font-size: 16px;
       background-color: white;
       background-position: 10px 10px;
       background-repeat: no-repeat;
       padding: 5px 10px 5px 10px;
       -webkit-transition: width 0.4s ease-in-out;
       transition: width 0.4s ease-in-out;

   }
   .btn:active {
       box-shadow: 0 #666;
       transform: translateY(5px);
   }
   .btn:hover {
    background-color: rgb(55, 131, 98);; 
    color: white;
}
   .btn input[type=button]:focus {
       width: 100%;
   }
   
   
   .sentence{
       width: 15%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     box-shadow: 5px;
     
   
   }
   
   .sentence{
   font-size: 15px;
   
   }

   .words1{
       font-size: 20 ;
       padding: 20px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .counter{
       font-size: 30px;
   }